.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 10px;
}

.product-image {
    width: 100%;
    height: 180px; /* Altura fija para la imagen */
    object-fit: cover;
}

.product-info {
    padding: 10px;
}

.product-price {
    font-weight: bold;
    color: #4CAF50;
    margin: 5px 0;
}

.btn-add-to-cart {
    background-color: #f0ad4e; /* El color amarillo/naranja de la imagen */
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

.btn-add-to-cart:hover {
    background-color: #ec971f;
}