.shopping-cart-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px; 
    height: 100%;
    background-color: #f7f7f7; /* Color de fondo claro para el carrito */
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    transform: translateX(-100%); /* Oculto por defecto */
    transition: transform 0.3s ease-in-out;
    z-index: 100;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 120px;
}

.shopping-cart-sidebar.visible {
    transform: translateX(0); /* Visible */
}

/* Estilos para el encabezado*/
.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

/* Estilo para el botón de cerrar */
.close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Estilos para los elementos del carrito */
.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 1px dashed #eee;
    position: relative;
}
.item-remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 1.2rem;
    color: #080808;
    font-size: 1.5rem;
    cursor: pointer;
    line-height: 1;
    padding: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    transition: color 0.2s;}

.item-remove-btn:hover {
    color: #dc3545;}
.item-img {
    width: 60px; /* Tamaño de la imagen del producto en el carrito */
    height: 60px;
    object-fit: cover;
}

.item-details {
    flex-grow: 1;
    padding-right:5px;
}

.item-controls button {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
}

/* Estilos para los botones de acción (eliminar todo, adquirir) */
.cart-actions {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-clear-all {
    background-color: #dc3545; /* Rojo */
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.btn-checkout {
    background-color: #007bff; /* Azul */
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* calculo de ltotal*/
.cart-summary {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    margin-top: auto; /* Empuja el resumen y las acciones hacia el final */
    border-top: 2px solid #ddd;
    font-weight: bold;
    font-size: 1.1rem;
}

.total-amount {
    color: #dc3545; /* Color que resalta el total */
}
.cart-items-list {
    flex-grow: 1;
    overflow-y: auto; /* Permite desplazamiento si la lista es muy larga */
    padding-bottom: 20px;
}