html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.home {
  flex: 1;                 
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
  font-family: "Poppins", sans-serif;
  width: 100vw;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  
}

.home-container {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Sección Hero */
.hero {
  background: url("/public/assets/supermercado.png") center/cover no-repeat;
  color: white;
  padding: 120px 20px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.hero-content {
  max-width: 700px;
  margin: auto;
}

.btn-hero {
  display: inline-block;
  margin-top: 20px;
  background-color: #ffd700;
  color: #2C2C2C;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.btn-hero:hover {
  background-color: #f0c400;
}

/* Sección Ofrecemos */
.ofrecemos {
  background-color: #fffaf0;
  padding: 40px 20px;
}

.ofrecemos-container {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.ofrecemos-item {
  text-align: center;
}

.ofrecemos-item img {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
}

/* Sección Categorías */
.categorias {
  background-color: #017e7e;
  color: white;
  padding: 60px 20px;
}

.categorias-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.categoria-card {
  text-align: center;
}

.categoria-card img {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

.categoria-card {
  background-color: #ffd700;
  color: #8b0000;
  padding: 20px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* Sección Ubicación */
.ubicacion {
  background-color: #f7f3e9;
  padding: 60px 20px;
  background: url("/public/assets/mapa-fondo.png") center/cover no-repeat;
}

.ubicacion h2 {
  margin-bottom: 30px;
}

.mapa-container {
  width: 80%;
  margin: 20px auto;
  border: 5px solid #8b0000;
  border-radius: 10px;
  overflow: hidden;
  
}

.btn-ubicacion {
  background-color: #F4C542;
  color: #2C2C2C;
  border: none;
  padding: 10px 25px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-ubicacion:hover {
  background-color: #facc4c;
}